<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
<h1>Event Creator</h1>
<form method='post' action='/create'>
    <input type='text' name='event_code' placeholder='Event Code' required />
    <p>Work From Home 22 would be wfh22</p>
    <input type='number' name='event_id' placeholder='Event ID' required />
    <p>Get event id from events table</p>
    <input type='submit' class='btn btn-outline-dark btn-lg' />
</form>
</body>
</html>


