<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cranium</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
    
<!--NavBar-->
<nav class='navbar navbar-expand-md navbar-light bg-light sticky-top'>
<div class='containter-fluid'>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarResponsive'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarResponsive'>
        <ul class='navbar-nav ml-auto'>
            <li class='nav-item active'>
                <a class='nav-link' href='/'>Home</a>
            </li>
            <li class='nav-item active'>
                <a class='nav-link' href='/events'>Events</a>
            </li>
            <li class='nav-item active'>
                <a class='nav-link' href='/profile'>Profile</a>
            </li>
            <!-- <li class='nav-item active'>
                <a class='nav-link' href='/cart'>Cart</a>
            </li> -->
        </ul>
    </div>
</div>
</nav>

<h1><%=event.name%></h1>
<br></br>
<label for='ticket-quantity'>Quantity:</label>
<select name='quantity' id='ticket-quantity'>
    <option value=''>--Please select a quantity--</option>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5</option>
    <option value='6'>6</option>
</select>
<br></br>
<button class='btn btn-outline-dark btn-lg'>Checkout</button>
<br></br>
<h4>Event details here. Remember when we needed more details than a zoom link? Lol.</h4>
<div>
    <a class='btn btn-outline-dark btn-lg' href='/events'>Events</a>
    <a class='btn btn-outline-dark btn-lg' href='/profile'>Profile</a>
</div>
</body>
</html>